body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #9fd3c7;
}
#nav-bar {
    display: flex;
    background-color: #142d4c;
    height: 10%;
    align-items: center;
}

#links-container {
    margin-left: 20vw;
    display: flex;
    gap: 40px;
}

.nav-links {
    font: normal 20px 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.main-container {
    /*background-color: #9fd3c7;*/
    /*height: max-content;*/
    /*background-color: cornflowerblue;*/
    /*margin-top: 0;*/
    /*height: 90%;*/
}

#forms-container {
    display: flex;
    flex-direction: column;
    margin-right: 20vw;
    margin-left: 20vw;
    /*height: max-content;*/
}

#history-container {
    display: flex;
    flex-direction: column;
    /*padding: 0 0 0 0;*/
    /*margin: 0 0 0 0;*/
    /*border-radius: 10px;*/
}

.submit-history-card {
    background-color: #ececec;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 20px;
    padding-left: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: -10px 5px 5px lightblue;
}

.delete-button {
    background-color: red;
    margin-left: 35%;
    width: 20%;
    border-radius: 5px;
    font: bold 16px 'Roboto', sans-serif;
    color: white;
}

.delete-button:hover {
    background-color: indianred;
    cursor: pointer;
}


.input-label {
    font: bold 18px 'Roboto', sans-serif;
}

input.input-text {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    font: normal 16px 'Roboto', sans-serif;
    width: 80%;
}

#submit-button {
    background-color: #092327;
    margin-left: 30%;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font: bold 16px 'Roboto', sans-serif;
    color: white;
}

#submit-button:hover {
    background-color: #00ce91;
    cursor: pointer;
}